body {
	width: 600px;
	margin: 15px 10px 10px 70px;
	font-family: 'Noto Sans', 'Segoe UI', 'Lucida Grande', 'Open Sans', arial, sans-serif;
	font-size: 12px;
}

hr
{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title
{
	overflow: hidden;
}
.title img, .title h1 { float: left; }
.title h1 { margin-top: 17px; margin-left: 15px; }
.title span { font-size: 14px; }

h1
{
	font-weight: normal;
	font-size: 20px;
}

h2
{
	font-weight: normal;
	font-size: large;
	margin: 5px;
}

table
{
	margin-left: 10px;
	width: 90%;
}

.formLabelCell
{
	text-align: right;
	width: 80px;
}

.tableTextBox
{
	margin-left: 10px;
	width: 100%;
}

.inlineTextBox
{
	margin: 3px 5px;
	width: 400px;
}

input[name='regexText'] {  font-family: "Lucida Console", Monaco, monospace; }

input[name='groupNumText'] { width: 50px; }

input[name='replacementText'] { width: 200px; }

.rewriteDef
{
	margin: 20px 10px 10px 30px;
}

#addBtn { margin-left: 30px; }

#saveBtn
{
	float: right;
	margin-right: 10px;
}

.removeBtn
{
	float: right;
}

/* Notifications */
#message {
	background-size: 40px 40px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
					transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
					transparent 75%, transparent);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	width: 100%;
	border: 1px solid;
	color: #fff;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	animation: animate-bg 5s linear infinite;
}

.info {
	background-color: #4ea5cd;
	border-color: #3b8eb5;
}

.error {
	background-color: #de4343;
	border-color: #c43d3d;
}

.warning {
	background-color: #eaaf51;
	border-color: #d99a36;
}

.success {
	background-color: #61b832;
	border-color: #55a12c;
}

@keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -80px 0;
	}
}
